* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-zho-spa.post-spa.dix -text
/apertium-zho-spa.spa-zho.lrx -text
/apertium-zho-spa.spa-zho.t1x -text
/apertium-zho-spa.spa-zho.t2x -text
/apertium-zho-spa.spa-zho.t3x -text
/apertium-zho-spa.spa.acx -text
/apertium-zho-spa.spa.dix -text
/apertium-zho-spa.zho-spa.dix -text
/apertium-zho-spa.zho-spa.lrx -text
/apertium-zho-spa.zho-spa.t1x -text
/apertium-zho-spa.zho-spa.t2x -text
/apertium-zho-spa.zho-spa.t3x -text
/apertium-zho-spa.zho.acx -text
/apertium-zho-spa.zho.dix -text
/autogen.sh -text
/configure.ac -text
dev/Makefile -text
dev/adj.dix -text
dev/adv.dix -text
dev/bilingue4.dix -text
dev/conj.dix -text
dev/dicc.zh-es.txt -text
dev/dicc14.zh.txt -text
dev/dicc15.zh.dix.txt -text
dev/dicc15.zh.txt -text
dev/num.dix -text
dev/prn.dix -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.zho-spa.txt -text
dev/testvoc/testvoc.sh -text
dev/total.zh.dix -text
dev/totalama.dix -text
dev/withtags-to-dix.py -text
dev/withtags.txt -text
dev/withtags2.txt -text
dev/withtags3.txt -text
dev/withtags4.txt -text
dev/zho-wiki.py -text
dev/zho.dix -text
/modes.xml -text
/spa-zho.prob -text svneol=unset#unset
texts/cuento.spa.txt -text
texts/cuento.zho.referencia.txt -text
texts/cuento.zho.stanford.txt -text
texts/cuento.zho.txt -text svneol=unset#application/octet-stream
texts/cuento.zho.zhseg.txt -text
texts/cuento2.zho.zhseg.txt -text
/zho-spa.prob -text svneol=unset#unset
